body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image:url(./images/ag\ tm.jpg);

}

.a {
background-image: url(./images/tal2.jpg);

}

.s {
  background-image: url(./images/tera_yar.jpg);
}

.d {
  background-image: url(./images/musu_musu.jpg);
}

.j {
background-image: url(./images/sau_dard.webp);
}

.k {
background-image: url(./images/chana_mereya.jpg);
}

.l {
background-image: url(./images/mehrana.webp);
}
.m{
  background-image: url(./images/kaise.webp);
}
.n {
  background-image: url(./images/cocktail.webp);
  }
  .o{
    background-image: url(./images/kal_ho_na\ _ho.jpg);
  }
.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}
.btn1{
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn2{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn3{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn4{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn5{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn6{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}

.btn7{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}

.btn8{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn9{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.btn10{
 
  height: 300px;
  width: 300px;
 visibility: hidden;
}
.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 600px;
  height: 600px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
